<%= form_for( @artist, as: :artist, url: :new_session, method: :post ) do |f| %>

   <% if @artist.errors.any? %>
  <div id="error_messages">
    <ul>
    <% @artist.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </p>

  <p>
    <%= f.submit "Login" %>
  </p>
<% end %>

<%= link_to "To ShareArt", artists_path %>