<div class="container" align="center">
<h1><%= @artist.username %>'s Portfolio</h1>
  
  <%= button_to "Upload a Piece", new_piece_path, :method => :get %> 
  <br>
  
  
  <% @pieces.each do |piece| %>
    
    <%= link_to (image_tag piece.photo.url(:small)), piece.photo.url(:large), :data => {:colorbox => true} %>
    <%= link_to piece.piece_name, piece_path(piece)%> <br>
    <%= link_to piece.artist.username, artist_pieces_path(piece.artist)%><br>
    <%= piece.artist_id %>
    <%= piece.category %>
    <% if piece.artist_id == current_artist.id %>
      <%= link_to "Delete Piece", piece_path(piece), :method => :delete %>
    <% end %>
  <br>
<% end %>