<div class="container" align="center">
  <h1><%= @piece.piece_name %></h1>
  <h4>By <%= @piece.artist.username %> </h4>
    <%= image_tag @piece.photo.url(:large)%>
  <br />
  <br />
  <%= button_to "Add a Comment", new_piece_comment_path(@piece), :method => :get %>

  <% @comments.each do |comment| %>
  <hr>
  "<%= comment.body %>"
  <br>
  <em>~<%= link_to comment.artist.username, artist_pieces_path(comment.artist) %></em>
  <br>
  <% end %>
</div>